* {
    margin: 0;
}

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(15, 110, 15);
}

h2 {
    margin-bottom: 20px;
    color: indianred;
    font-style: italic;
}